html {
  background-color: #fff;
  box-sizing: border-box;
  font-family: Georgia, serif;
  font-size: 1rem;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  width: 96%;
  margin-top: 1.5rem;
}

img {
  display: block;
  width: 100%;
}

h1, h2 {
  color: #623b0c;
  font-family: "Denk One";
}

h1 {
  font-size: 1.5rem;
  margin-left: 2em;
  margin-top: 1.5em;
}

h2 {
  font-size: 1.125rem;
}

p {
  font-size: .857rem;
}

main ol {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

main ol li {
  background-color: #ede3db;
  border: 2px solid #623b0c;
  border-radius: 8px;
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main ol li p {
  flex-grow: 1;
}

li a {
  background-color: #623b0c;
  border-radius: 8px;
  color: #f5f2f0;
  padding: .75em;
  text-decoration: none;
}
